:root {
  --color-brand: #639;
  --color-brand-light: #ab8fc7;
  --color-accent: #84BC9C;
  --color-pop: #f34213;
  --color-base: #000f08;

  --input-background: #fffc;
  --input-background-accent: var(--color-base);

  --vertical-spacing: 4vh;
  --vertical-spacing-large: calc(var(--vertical-spacing) * 2);
}

/* Structure */
body {
  text-align: center;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 .5rem;
}

main, section {
  margin-top: var(--vertical-spacing-large);
}

header {
  padding: .5rem 1rem;
  display: flex;
  justify-content: center;
}
[rel="logo"] {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen  and (max-width: 800px) {
  [rel="logo"] {
    max-width: 100px;
    max-height: 100px;
  }
}
@media screen  and (min-width: 801px) {
  [rel="logo"] {
    width: calc((100% - 700px) / 2);
    max-width: 1024px;
    min-width: 100px;
  }
}
@media screen  and (max-width: 500px) {
  header {
    padding-left: 100px;
  }
}

footer {
  font-size: smaller;
  margin-top: var(--vertical-spacing-large);
  padding: 1rem;
}

.form-group {
  margin-bottom:  var(--vertical-spacing);
}

/* Typography */
h1 {
  margin: 0;
}
h1 small {
  display: block;
  font-size: .4em;
}

h2 { 
  font-size: 1rem;
  font-weight: bold;
}

/* Style */
header, footer {
  background: var(--color-accent);
}
header a, footer a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

output {
  display: block;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-thickness: 1vh;
  text-decoration-color: var(--color-brand-light);
}

output ~ small {
  display: block;
}

input {
  border: none;
  background: white;
  background: linear-gradient(0deg,var(--input-background-accent) 0%, var(--input-background-accent) .5vh, var(--input-background) .5vh, var(--input-background));

  font-size: 1.5rem;
}

input:focus {
  --input-background: #fffa;
  --input-background-accent: var(--color-brand);
  
  outline: none;
}

[type="number"] {
  max-width: 5ch;
  text-align: center;
}

fieldset {
  border-color: var(--color-brand-light);
  border-style: solid;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-accent);
  padding: .5rem;
}
.result i {
  font-size: 3rem;
  padding-right: 1rem;
}

.amazon-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.amazon-links > div {
  margin: 0 1rem 1rem;
}